<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BlaiseServerHostName" value="localhost" />
    <add key="BlaiseServerUserName" value="Root" />
    <add key="BlaiseServerPassword" value="Root" />
    <add key="BlaiseServerBinding" value="http" />
    <add key="BlaiseConnectionPort" value="8031" />
    <add key="BlaiseRemoteConnectionPort" value="8033" />
    <add key="ConnectionExpiresInMinutes" value="30" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>