<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ENV_BLAISE_SERVER_HOST_NAME" value="#{ENV_BLAISE_SERVER_HOST_NAME}#" />
    <add key="ENV_BLAISE_ADMIN_USER" value="#{ENV_BLAISE_ADMIN_USER}#" />
    <add key="ENV_BLAISE_ADMIN_PASSWORD" value="#{ENV_BLAISE_ADMIN_PASSWORD}#" />
    <add key="ENV_BLAISE_SERVER_BINDING" value="#{ENV_BLAISE_SERVER_BINDING}#" />
    <add key="ENV_BLAISE_CONNECTION_PORT" value="0" />
    <add key="ENV_BLAISE_REMOTE_CONNECTION_PORT" value="0" />
    <add key="ENV_CONNECTION_EXPIRES_IN_MINUTES" value="0" />
    <add key="ENV_DB_CONNECTIONSTRING" value="#{ENV_DB_CONNECTIONSTRING}#" />
    <add key="COMMAND_TIMEOUT" value="500" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
